form {
  margin: 70px 0 70px 0;
}

h1 {
  font-size: 16px;
}

li {
  list-style: none;
}

.weather-app {
  border-radius: 10px;
  padding: 30px 0px 0px 0px;
  margin: 20px auto;
  min-width: 330px;
  max-width: 450px;
  background-color: transparent;
  background-image: url("https://images.unsplash.com/photo-1528283648649-33347faa5d9e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjR8fHNreXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
  font-size: 14px;
}

.search-engine {
  display: inline;
  margin-left: 32px;
}
.enter-a-city {
  border: 1px solid;
  border-radius: 3px;
  background: white;
  margin-right: 1px;
  max-width: 135px;
}

.search-button {
  border: 0.5px solid;
  border-radius: 3px;
  background: white;
  padding: 0 auto;
  margin-right: 1px;
}

.symbol-current {
  font-size: 70px;
  margin-left: -23px;
}

.show-celsius {
  font-size: 22px;
  margin-left: -2px;
  font-weight: 500;
}

.forecast {
  text-align: center;
  margin-top: 35px;
  margin-left: 27px;
}

.weekday-forecast {
  margin-bottom: 13px;
}

.symbol-forecast {
  font-size: 25px;
}

.temperature-forecast {
  line-height: -2px;
  font-size: 10px;
  margin-top: 13px;
  margin-bottom: 40px;
}

.weather-description {
  text-transform: capitalize;
}

.temperature-forecast-min {
  color: gray;
}

.open-code {
  font-size: 10px;
  line-height: 0.2;
  padding-bottom: 30px;
  margin-left: 32px;
}

.units a {
  font-weight: 500;
  font-size: 13px;
  color: black;
  text-decoration: none;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.show-fahrenheit {
  color: blue;
}

.show-fahrenheit:hover {
  color: blue;
  cursor: default;
}

.celsius-sign:hover {
  color: blue;
  cursor: default;
}
